<html>
    <head></head>
    <body>
        <h3>Hi {{username}}</h3>
        <p>
            Please click on the following link <a href="{{link}}">{{link}}</a> to reset your password. If you did not request this, please ignore this email and your password will remain unchanged.
        </p>
        <p>Gaimer.</p>                    
    </body>
</html>