body {
    margin: 0;
    background-color: #1e1f20;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.page {
    background-color: #FFFFFF;
    max-width: 700px;
}

header {
    padding: 10px 0;
    background-color: #613BFF;
}

main {
    padding: 25px 30px;
}

h2 {
    margin: 15px 0px 40px 0;
    font-weight: 600;
}

.error {
    color: white;
    background-color: #ff4747;
    border-radius: 5px;
    padding: 10px 5px;
}

.no-d{
    display: none;
}

.logo {
    background-image: url('/assets/gaimer-logo.png');
    height: 80px;
    width: 50vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 700px;
    background-color: #613BFF;
}

.d-flex-fd-col {
    display: flex;
    flex-direction: column;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

.input-field {
    height: 40px;
    border: 2px solid rgba(143, 146, 161, 0.2);
    border-radius: 5px;
    margin: 10px 0px;
    padding-left: 5px;
    font-size: 14px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #613BFF;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    height: 50px;
}

.btn[disabled]{
    background-color: #A090E1;
    cursor: not-allowed;
}

.label {
    color: #1E1F20;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}