<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaimer - Home</title>
    <link rel="stylesheet" href="/css/reset-password.css">
</head>

<body>
        <div class="page">
            <header>
                <div class="logo"></div>
            </header>
            <main class="d-flex-fd-col">
               <h1>Hi! You can have a look at this page, but there's really nothing here...</h1>                
            </main>
        </div>
</body>

</html>