<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaimer - Oops Something went wrong</title>
    <link rel="stylesheet" href="/css/reset-password.css">
</head>

<body>
        <div class="page">
            <header>
                <div class="logo"></div>
            </header>
            <main class="d-flex-fd-col">
                <h2>Something went wrong during your request. Please try again later or contact our helpdesk if this keeps on happening.</h2>
            </main>
        </div>
</body>

</html>