<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaimer - Reset your Password Success</title>
    <link rel="stylesheet" href="/css/reset-password.css">
</head>

<body>
        <div class="page">
            <header>
                <div class="logo"></div>
            </header>
            <main class="d-flex-fd-col">
                <h2>Your password was changed successfully. You can now go back to the Gaimer app and login with your new password.</h2>
            </main>
        </div>
</body>

</html>